<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/THAPELO SEGWE/Desktop/NdosiProject/MyProjects/SelleniumJava"><classes><class name="TestRunners.BasicFormTests"><methods><include name="NavigateToLearningMaterials"/><include name="EnterDetails"/><include name="SelectDropdowns"/><include name="CheckSkillBoxes"/></methods></class><class name="TestRunners.LoginFlowTests"><methods><include name="verifyHomeContentTest"/><include name="loginFlowTest"/><include name="verifyLandingPage"/></methods></class></classes></test></suite>